html {
  font-size: 16px;
}

:root {
  --black: #111517;
  --white: white;
  --background: #fafafa;

}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--black);
}


.App {
  text-align: center;
}
